# <u><center>Statistical Measures

# Computation of Mean, Median and Mode Withhout using Libraries

### Data

In [13]:
# Let us take this as our data
X = [55,90,58,99,86,65,87,88,111,86,103,87,94,78,77,85,86]
X=[float(i) for i in X]

<b>Mean

In [2]:
n = len(X) 
sum_of_X = sum(X) 
mean = sum_of_X / n 
  
print("Mean is: " + str(mean))

Mean is: 84.41176470588235

<b>Median

In [3]:
n = len(X) 
X.sort() 
  
if n % 2 == 0: 
    median1 = X[n//2] 
    median2 = X[n//2 - 1] 
    median = (median1 + median2)/2
else: 
    median = X[n//2] 
print("Median is: " + str(median))

Median is: 86

<b>Mode

In [6]:
from collections import Counter
n = len(X) 
  
data = Counter(X)
 
mode = dict(data) 
mod = [k for k, v in mode.items() if v == max(list(data.values()))] 
  
if len(mod) == n: 
    mode = "No mode found"
else: 
    mode = "Mode is / are: " + ', '.join(map(str, mod)) 
      
print(mode)

Mode is / are: 86

#Computation of Mean, Median and Mode using Libraries

<b>Mean

In [7]:
import numpy as np
print(np.mean(X))

84.41176470588235

<b>Median

In [8]:
print(np.median(X))

86.0

<b>Mode

In [9]:
from scipy import stats
print(stats.mode(X))

ModeResult(mode=array([86]), count=array([3]))

## Python code for calculating variance and standard deviation

### Without using Library

In [15]:
import math
mean = sum(X) / len(X)   # mean
var  = sum(pow(x-mean,2) for x in X) / len(X)  # variance
std  = math.sqrt(var)  # standard deviation
print("Variance is : ",var)
print("Standard Deviation is : ",std)

Variance is :  203.41868512110727
Standard Deviation is :  14.262492247889472

### Using Library

In [18]:
import statistics 
print(statistics.variance(X))
print(statistics.stdev(X))

216.13235294117646
14.701440505650337

# Basic operations on various List,Dictionary,Tuple and String

# Lists

<b>List Creation

In [19]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists
print(lst3)

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[[1, 2], [3, 4]]
[1, 'ramu', 24, 1.24]

<b>List Length

In [20]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

<b>List Append

In [21]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

<b>List Insert

In [22]:
#syntax: lst.insert(x, y) 

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

<b>List Remove

In [23]:
#syntax: lst.remove(x) 

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

<b>List Append & Extend

In [24]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

<b>List Delete

In [25]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]    #del doesn't return any value
print(lst)

#or we can use pop() method also to delete based on index position
a = lst.pop(1)   #pop returns a value so we can display it
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

#Tuples

<b>Tuple creation

In [26]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

<b>Accessing Elements in Tuple

In [27]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

<b>Tuple Deletion

In [28]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

<b>Tuple Count

In [29]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

<b>Tuple Index

In [30]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

# Dictionary

<b>Dict Creation

In [31]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

<b>Dict Access

In [32]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#get name
print(my_dict['name'])

satish

<b>Dict Add or Modify Elements

In [33]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#update name 
my_dict['name'] = 'raju'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

<b>Dict Delete or Remove Element

In [34]:
#create a dictionary
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

<b>Dict Comprehension

In [35]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

#Strings

<b>How to create a string?

In [36]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

<b>How to access characters in a string?

In [37]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

<b>How to delete a string ?

In [38]:
del myString # delete complete string

<b>Concatenation

In [39]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Satish
Hello Hello Hello

<b>String Membership Test

In [40]:
print('l' in 'Hello World') #in operator to test membership

True

In [42]:
print("The Work is Done.")

The Work is Done.