<a href="https://colab.research.google.com/github/gullayeshwantkumarruler/18cse167DMDW/blob/main/assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dataset=[['i1','i2','i5'],
         ['i2','i4'],
         ['i3','i3'],
         ['i1','i2','i4'],
         ['i1','i3'],
         ['i2','i3'],
         ['i1','i3'],
         ['i1','i2','i3','i5'],
         ['i1','i2','i3']]

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=te.columns_)

In [5]:
from mlxtend.frequent_patterns import apriori
apriori(df,min_support=0.22)

     support   itemsets
0   0.666667        (0)
1   0.666667        (1)
2   0.666667        (2)
3   0.222222        (3)
4   0.222222        (4)
5   0.444444     (0, 1)
6   0.444444     (0, 2)
7   0.222222     (0, 4)
8   0.333333     (1, 2)
9   0.222222     (1, 3)
10  0.222222     (1, 4)
11  0.222222  (0, 1, 2)
12  0.222222  (0, 1, 4)

In [6]:
apriori(df,min_support=0.22,use_colnames=True)

     support      itemsets
0   0.666667          (i1)
1   0.666667          (i2)
2   0.666667          (i3)
3   0.222222          (i4)
4   0.222222          (i5)
5   0.444444      (i2, i1)
6   0.444444      (i3, i1)
7   0.222222      (i5, i1)
8   0.333333      (i2, i3)
9   0.222222      (i2, i4)
10  0.222222      (i2, i5)
11  0.222222  (i2, i3, i1)
12  0.222222  (i2, i5, i1)

In [7]:
frequent_itemsets=apriori(df,min_support=0.2,use_colnames=True)

In [8]:
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x:len(x))

In [9]:
frequent_itemsets

     support      itemsets  length
0   0.666667          (i1)       1
1   0.666667          (i2)       1
2   0.666667          (i3)       1
3   0.222222          (i4)       1
4   0.222222          (i5)       1
5   0.444444      (i2, i1)       2
6   0.444444      (i3, i1)       2
7   0.222222      (i5, i1)       2
8   0.333333      (i2, i3)       2
9   0.222222      (i2, i4)       2
10  0.222222      (i2, i5)       2
11  0.222222  (i2, i3, i1)       3
12  0.222222  (i2, i5, i1)       3

In [15]:
frequent_itemsets[(frequent_itemsets['length']==2) & (frequent_itemsets['support'] >0.22)]

     support  itemsets  length
5   0.444444  (i2, i1)       2
6   0.444444  (i3, i1)       2
7   0.222222  (i5, i1)       2
8   0.333333  (i2, i3)       2
9   0.222222  (i2, i4)       2
10  0.222222  (i2, i5)       2

<b>Assosciation Rule Mining

In [17]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets)
rules

  antecedents consequents  antecedent support  ...  lift  leverage  conviction
0        (i5)        (i1)            0.222222  ...  1.50  0.074074         inf
1        (i4)        (i2)            0.222222  ...  1.50  0.074074         inf
2        (i5)        (i2)            0.222222  ...  1.50  0.074074         inf
3    (i2, i5)        (i1)            0.222222  ...  1.50  0.074074         inf
4    (i5, i1)        (i2)            0.222222  ...  1.50  0.074074         inf
5        (i5)    (i2, i1)            0.222222  ...  2.25  0.123457         inf

[6 rows x 9 columns]

In [27]:
# path="https://raw.githubusercontent.com/Anasuya-Sahoo/DMDW-Lab/main/groceries.csv"

In [29]:

import pandas as pd
path="https://github.com/Anasuya-Sahoo/DMDW-Lab/blob/main/groceries.csv"
data=pd.read_csv(path)